/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-color: black;
  color: white; /* text color */
}

/* Change header text to imported font */
h2 {
  font-family: 'Yusei Magic', sans-serif;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}
